body {
    font-size: 80%;
    font-family: arial, helvetica, geneva, sans-serif;
    background-color: bisque;
  }
  
  footer {
    font-size: 80%;
    text-align: center;
    clear: both;
  }
  
  h1 {
    font-family: arial, helvetica, geneva, sans-serif;
  }
  
  nav {
    background: #d8d8d8; 
    font-weight: bold;
    float: left;
    height: 420px;
    margin-right: 10px;
  }
  
  .floatright {
    float: right;
    clear: right;
  }
  #img-rotate {
    -ms-transform: rotate(345deg); /* Microsoft Edge */
    -webkit-transform: rotate(345deg); /* Chrome and Safari */
    transform: rotate(345deg);
}
#video-rotate {
    -ms-transform: rotate(15deg); /* Microsoft Edge */
    -webkit-transform: rotate(15deg); /* Chrome and Safari */
    transform: rotate(15deg);
}